body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

a{
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}

p{
  line-height: 2;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 80px auto;
}

h1 {
  font-size: 5.625rem;
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;

}
h2{
  font-size: 2.5rem;
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;
}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;

}
.middle-container{
  margin: 100px 0
}
.bottom-container{
  padding: 50px 0 20px;
  background-color: #66BFBF;

}
.pro{
  text-decoration: underline;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;

}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;

}
.mountain{
  position: relative;
  top: 20px;

}

.aProgrammer{
  font-weight: normal;
}
.skill-row{
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
  padding-bottom: 100px;
}
.code{
  width: 25%;
  float: left;
  margin-right: 50px;
}
.ball{
  width: 25%;
  float: right;
  margin-right: 100px;

}
.intro{
  width: 30%;
  margin: auto;
}
.contact-msg{
  width: 40%;
  margin: 40px auto 40px;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF !important;
  font-size: 20px;
  text-shadow: 1px 1px 0px #7CACDE;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 10px 25px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 2px solid #3866A3;
  background: #63B8EE;
  background: linear-gradient(top,  #60CCBA,  #53B2CF);
  background: -ms-linear-gradient(top,  #60CCBA,  #53B2CF);
  background: -webkit-gradient(linear, left top, left bottom, from(#60CCBA), to(#53B2CF));
  background: -moz-linear-gradient(top,  #60CCBA,  #53B2CF);
}
.btn:hover {
  color: #14396A !important;
  background: #468CCF;
  background: linear-gradient(top,  #59C3CF,  #6DEAEE);
  background: -ms-linear-gradient(top,  #59C3CF,  #6DEAEE);
  background: -webkit-gradient(linear, left top, left bottom, from(#59C3CF), to(#6DEAEE));
  background: -moz-linear-gradient(top,  #59C3CF,  #6DEAEE);
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
